################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/Bunifu_UI_v1.5.3.xml
/bin/Debug/Bunifu_UI_v1.5.3.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuTextbox.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuTextbox.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuProgressBar.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuProgressBar.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuPictureBox.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuPictureBox.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuLabel.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuLabel.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuButton.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuButton.dll
/bin/Debug/Bunifu.Core.dll
