################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/Bunifu_UI_v1.5.3.xml
/bin/Debug/Bunifu_UI_v1.5.3.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuTextbox.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuTextbox.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuProgressBar.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuProgressBar.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuPictureBox.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuPictureBox.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuLabel.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuLabel.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuButton.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuButton.dll
/bin/Debug/Bunifu.Core.dll
/bin/Debug/Bunifu.UI.WinForms.ToggleSwitch.xml
/bin/Debug/Bunifu.UI.WinForms.ToggleSwitch.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuUserControl.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuUserControl.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuTransition.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuTransition.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuToolTip.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuToolTip.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuSlider.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuSlider.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuScrollBar.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuScrollBar.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuRadioButton.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuRadioButton.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuPages.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuPages.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuImageButton.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuImageButton.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuGauge.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuGauge.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuFormDock.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuFormDock.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuDropdown.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuDropdown.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuDatePicker.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuDatePicker.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuDataGridView.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuDataGridView.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuColorTransition.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuColorTransition.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuCircleProgress.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuCircleProgress.dll
/bin/Debug/Bunifu.UI.WinForms.BunifuCheckBox.xml
/bin/Debug/Bunifu.UI.WinForms.BunifuCheckBox.dll
/bin/Debug/Bunifu.UI.WinForm.BunifuShadowPanel.xml
/bin/Debug/Bunifu.UI.WinForm.BunifuShadowPanel.dll
